
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:CRSV@1&display=swap');
body{
    font-family: system-ui, sans-serif;
  background: white;
  color: black;
}
@media (prefers-color-scheme: dark){
    body{
        background: #121212;
        color: white;
    }
}
h1, h2, button {
    
    font-family: "Bitcount Grid Single Ink", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 1,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}